/* for the pen */
*{
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
 /* quick san */
body {
  text-align: center;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100vh;
    width: 100vw;
   }
   html,body{
    font-size: 62.5%;
    height: 100%;
   }
   html{
    background: #eee;
   }
  
  /* waves */
  .box {
    width: 25vw;
    height: 70vh;
    box-shadow: 0 0.2rem 3rem rgba(0, 0, 0, 0.2);
    background-color: #a5bbdd;
    position: relative;
    border-radius: .5rem;
    overflow: hidden;
    transform: translate3d(0,0,0);
    min-height: 20rem;
    min-width: 35rem;
  }
.wave{
    opacity: 0.3;
    position: absolute;
    top: 95%;
    left: 50%;
    background-color: #ffffff;
    width: 50rem;
    height: 50rem;
    margin-left: -25rem;
    margin-top: -25rem;
    transform-origin: 50% 48%;
    border-radius: 48%;
    animation: drift 3000ms infinite linear;
    z-index: 1;
}
.wave.-three{
    animation: drift 5000ms infinite linear;
    z-index: 2 !important;
    opacity: 0.2;
}
.wave.-two{
    animation: drift 7000ms infinite linear;
    z-index: 3 !important;
    opacity: 0.1;
}
.box:after{
    content: "";
    display: block;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 11;
    transform: translate3d(0,0,0);
}

@keyframes drift {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
  .info{
    position: relative;
    bottom: 0;
    width: 100%;
    height: 45%;
    z-index: 4;
  }
  .location{
    margin-top: 1.5rem;
    font-weight: 4600;
    font-size: 3rem;
  }
  
  .fa-solid{
    font-size: 2rem;
    margin-right: .3rem;
    animation: street-anime 3s linear infinite alternate;
  }

  @keyframes street-anime {
    from{
        transform: translateX(-0.5rem);
    }
    to{
        transform: translateX(0.5rem);
    }
  }

  #date{
    margin-top: 0.5rem;
    color: #57606f;
    font-size: 1.3rem;
    font-weight: 300;
    text-transform: uppercase;
  }
  .temp{
    margin-top: 2.5rem;
    font-size: 3rem;
  }
  .tempmin_max{
    margin-top: 0.3rem;
    font-weight: 300;
    font-size: 1.2rem;
    color: #57606f;
  }

  #weathercon{
    height: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
  }
  #weathercon > .fas{
    font-size: 6rem;
    animation: fas-anime 3s linear infinite alternate;
  }

  @keyframes fas-anime {
    from{
        transform: scale(0.8);
    }
    to{
        transform: scale(1.5);
    }
  }